@import "tailwindcss";
:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-prosto-one: var(--font-prosto-one);
  --font-quicksand: var(--font-quicksand);
}

.font-custom {
  font-family: var(--font-prosto-one);
}

body {
  font-family: var(--font-quicksand);
}
.imgbg {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    35deg,
    rgba(255, 255, 255, 1) 52%,
    rgba(209, 212, 209, 1) 53%
  );
}
